@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');

/* header section */
header{
    background: url(images/bg-hero-desktop.svg) hsl(193, 100%, 96%) no-repeat;
}

/* nav section */
nav img{
    width: 8rem
}

nav button{
    width: 10rem;
}

.hero-content h2{
    font-family: "poppins" sans-serif;
}

.hero-content button{
    background-color: hsl(323, 100%, 66%);
}

.her button{
    background-color: hsl(323, 100%, 66%);
}

{
    position: relative;
    /* bottom: 10px; */
    top: 12px;
}

footer .ds{
    background-color: hsl(192, 100%, 9%);
    color: white;
}